@model Modal_Upload_ASP.Net_Core_5._0.Models.BlogAuthor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BlogAuthor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlogAuthorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlogAuthorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagepath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagepath)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BlogAuthorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
